:root {
	--color-almost-white: hsl(0, 0%, 98%);
	--color-medium-gray: hsl(0, 0%, 41%);
	--color-almost-black: hsl(0, 0%, 8%);

	--font-mid-size: 18px;
}

/* Shared styles */

* {
	margin: 0;
	padding: 0;

}

body {
	font-weight: 400;
	font-family: 'Epilogue';
	color: var(--color-medium-gray);
	background: var(--color-almost-white);
}

/* Nav bar styles */

.nav_bar {
	position: sticky;
	top: 0;
	left: 0;

	display: flex;
	align-items: center;

	padding: 20px 40px 20px 40px;

	background: var(--color-almost-white);
}

.logo {
	margin-right: 50px;
}

.nav_bar ul {
	list-style: none;
}

.nav_links a,
.auth_links a {
	text-decoration: none;
}

.nav_links {
	display: flex;
	flex: 1;
}

.nav_link {
	margin-right: 50px;
	cursor: pointer;

	position: relative;
}

.nav_link:hover {
	color: var(--color-almost-black);
}

.nav_link:hover ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	z-index: 999;

	position: absolute;
	top: 25px;

	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;

	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

	width: 120px;
}

.nav_link:hover li {
	margin-top: 10px;
	margin-bottom: 10px;

	color: var(--color-almost-black);
}

.nav_link a{
	color: var(--color-almost-black);
}

.nav_link ul {
	display: none;
}

.auth_links {
	display: flex;
	align-items: center;
}

.auth_links li {
	margin-left: 50px;
}

.auth_links a{
	color: var(--color-medium-gray);
}

.auth_links a:hover{
	color: var(--color-almost-black);
}

.auth_link_register {
	padding: 10px;

	border: 2px solid var(--color-medium-gray);
	border-radius: 10px;

}

.auth_link_register:hover {
	color: var(--color-almost-black);
	border: 2px solid var(--color-almost-black);
}

/* Main section styles */

.main_section {
	margin: 100px auto;

	display: flex;
	justify-content: space-between;
	gap: 100px;

	max-width: 1200px;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.info_large_text {
	color: var(--color-almost-black);
	font-size: 84px;
}

.info_mid_text {
	font-size: 24px;
	color: var(--color-medium-gray);
}

.info_btn {
	cursor: pointer;
	width: 200px;

	font-weight: 900;

	color: var(--color-almost-white);
	background: var(--color-almost-black);

	border: 2px solid var(--color-almost-black);
	border-radius: 20px;
	padding: 20px;

	align-self: flex-start;
}

.info_btn:hover {
	color: var(--color-almost-black);
	background: var(--color-almost-white);
	border: 2px solid var(--color-almost-black);
}

.info_prev_works ul {
	list-style: none;
	display: flex;
}

.info_prev_works li {
	margin-right: 20px;
}

.visual {
	width: 800px;
}

.visual img {
	width: 100%;
}